<nav class="navbar navbar-expand-lg bg-primary fixed-top px-3 border-bottom border-warning mb-3">
    <div class="container-fluid">
        <a class="navbar-brand fs-2" href="/painel">
            <img class="img-logo" src="/images/logo-ST.png" alt="SuperToys Logo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEstabelecimentos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Estabelecimentos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownEstabelecimentos">
                        <li><a class="dropdown-item" href="/estabelecimentos">Todos os Estabelecimentos</a></li>
                        <li><a class="dropdown-item" href="/estabelecimentos/add">Cadastrar Estabelecimento</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLancamentos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Lançamentos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownLancamentos">
                        <li><a class="dropdown-item" href="/lancamentos">Todos os Lançamentos</a></li>
                        <li><a class="dropdown-item" href="/lancamentos/add">Cadastrar Lançamento</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fluxo-de-caixa">Fluxo de Caixa</a>
                </li>
            </ul>
            <div class="d-flex">
                <form action="/search" class="d-flex" role="search" method="POST" novalidate>
                    <input name="termo" class="form-control me-2" type="search" placeholder="Pesquisar..." aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Pesquisar</button>
                </form>
                <a class="btn btn-danger ms-3 px-3" href="/logout"> Sair <i class="bi bi-box-arrow-right p-0"></i></a>
            </div>
        </div>
    </div>
</nav>
